<md-input-container class="md-default-theme">
  <md-checkbox id="{{watchPath}}"
               aria-label="{{label}}"
               ng-disabled="disabled || attributeMetadata.disabled"
               ng-model="bindable">

    {{label}}
  </md-checkbox>

  <ng-messages ng-messages="attributeMetadata.errorMessages"
               ng-show="attributeMetadata.errorMessages.length && !attributeMetadata.pristine">
    <div ng-message ng-bind="attributeMetadata.errorMessages[0]"></div>
  </ng-messages>
</md-input-container>