<md-input-container class="md-default-theme">
  <label for="{{watchPath}}" ng-bind="label"></label>

  <input id="{{watchPath}}"
         class="md-input"
         ng-model="bindable"
         data-placeholder="{{placeholder}}"
         ng-disabled="attributeMetadata.disabled" />

  <ng-messages ng-messages="attributeMetadata.errorMessages"
               ng-show="attributeMetadata.errorMessages.length">
    <div ng-message ng-bind="attributeMetadata.errorMessages[0]"></div>
  </ng-messages>
</md-input-container>